*{
    margin: 0;
    padding: 0;
}

#title, #description{
    text-align: center;
}

.container{
    margin-right: 25%;
    margin-left: 25%;
}
input{
    height: 25px;
    border-radius: 10px;
    outline: none;
    display: block;
}
.inputs{
    display: block;
    width: 90%;
}
.inputs, input{
    width: 90%;
}

label{
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea{
    width: 90%;
}